<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - Harpocrates</title>


    <!-- common -->

    <link href="~/css/harpocrates.css" rel="stylesheet" asp-append-version="true" />

    <script type="text/html" src="/templates/common/loader.html" id="template-loader">
    </script>
    <script type="text/html" src="/templates/common/alerts.html" id="template-alerts">
    </script>
    <script type="text/html" src="/templates/common/nav/sidebar.html" id="template-sidebar">
    </script>
    <script type="text/html" src="/templates/common/nav/menu.html" id="template-menu">
    </script>
    <script type="text/html" src="/templates/common/nav/menu-item.html" id="template-menu-item">
    </script>
    <script type="text/html" src="/templates/common/footer.html" id="template-footer">
    </script>

    <script type="text/html" src="/templates/common/dialog/confirmation.html" id="template-dialog-confirm">
    </script>
    <script type="text/html" src="/templates/common/dialog/wait.html" id="template-dialog-wait">
    </script>
    <script type="text/html" src="~/templates/common/account/profile.html" id="template-account-profile">
    </script>
    <!-- end common -->
</head>


<body>
    

    <div class="wrapper">
        <div class="sidebar">
            <placeholder class="template-sidebar"></placeholder>
        </div>
        <div class="main-panel">
            <placeholder class="template-menu"></placeholder>
            <div class="content">
                @RenderBody()
            </div>
            <partial name="_CookieConsentPartial" />

            <placeholder class="template-footer"></placeholder>
            <placeholder class="template-dialog-wait"></placeholder>
            <placeholder class="template-dialog-confirm"></placeholder>
            <placeholder class="template-account-profile"></placeholder>
        </div>
    </div>



    <!-- common -->
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/knockout/knockout-min.js"></script>

    <script src="~/lib/material-kit/dist/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/lib/material-kit/dist/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/lib/material-kit/dist/js/plugins/nouislider.min.js" type="text/javascript"></script>

    <script src="~/lib/material-kit/dist/js/plugins/bootstrap-notify.js" type="text/javascript"></script>
    <script src="~/lib/material-kit/dist/js/plugins/bootstrap-switch.js" type="text/javascript"></script>
    <script src="~/lib/material-kit/dist/js/plugins/chartist.min.js" type="text/javascript"></script>


    <script async defer src="https://buttons.github.io/buttons.js"></script>


    <script src="~/js/common/enums.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/common/common.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/common/security.js" type="text/javascript" asp-append-version="true"></script>

    @*<script type="text/javascript">
            window.Harpocrates.security.user.current.setId("@ViewData["currentUserId"]");
            window.Harpocrates.security.user.current.setEmail("@ViewData["currentUserEmail"]");
        </script>*@

    <script src="~/js/common/entities.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/common/nav.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/common/footer.js" type="text/javascript" asp-append-version="true"></script>

    <script src="~/js/api/user.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/loader/user.js" type="text/javascript" asp-append-version="true"></script>



    <!-- end common -->
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        // materialKit.initFormExtendedDatetimepickers();

        // Sliders Init
        // materialKit.initSliders();

        $(function () {

            window.Harpocrates.common.templates.load().done(
                function () {
                    $('#cookieConsent').removeClass('hide').addClass('show');
                }
            );

            //function handleMissingProfile() {

            //    var path = window.Harpocrates.common.utilities.getCurrentPath();
            //    if (path === window.Harpocrates.common.utilities.paths.tou || path === window.Harpocrates.common.utilities.paths.privacy) {
            //        //don't force profile creation in tou or privacy pages...
            //        return;
            //    }

            //    //make sure templates have finished loading...
            //    window.Harpocrates.common.templates.load().done(
            //        function () {
            //            //var currentUser = window.Harpocrates.security.user.current;
            //            //var profile = new window.Harpocrates.viewModels.user.entities.profile(currentUser.getId(), currentUser.getEmail(), null, null, null);
            //            //profile.isNewUser(true);
            //            //profile.actions.edit();
            //            //currentUser.setProfile(profile);
            //        }
            //    );
            //}

            //window.Harpocrates.loader.user.me(false, function (usr) {
            //    if (!usr) {
            //        handleMissingProfile();
            //    }
            //    else {
            //        window.Harpocrates.security.user.current.setProfile(usr);
            //    }
            //}, function (err) {
            //    if (err.status === 404) handleMissingProfile();
            //});

            //window.Harpocrates.loader.user.mytoken(function (token) {
            //    if (token) window.Harpocrates.security.user.current.setToken(token);

            //}, function (err) { });
        });
    </script>
</body>

</html>
